html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
#screen {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: silver;
}
#game {
    height: 100%;
    overflow: hidden;
    text-align: center;
}
#target {
    background-size: 100% 100%;
    margin: auto;
}
.tile, .tile-correct {
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: local;
}
#settings {
    background: white;
    padding: 1rem;
}